{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
{% endblock %}

{% block content %}

<div class="container text-center">
    
    <div>
        <div class="row">
        
            <h3 class="text-center" style="text-decoration: underline; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 30px; margin-right: 40%;">SIGN IN</h3>
            <br><br>
            <div class="col-md-1"> </div>
            <div class="col-md-9">
    
                 <!--Flash message -->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
                </div>
                {% endfor %}
                <!-- Login form -->
                {{wtf.quick_form(login_form)}}

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    
</div>
{% endblock%}
