body{
    /* font-family: 'Acme', sans-serif; */
    background-image: url(../images/bulb2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: rgb(235, 223, 223);
    font-size: 18px;
    overflow: hidden;
}
.col-md-8{
    width: 60%;
    margin-left: 1%;
    margin-right: 45%;
}