{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block navbar %}
        {% include 'navbar.html' %}
{% endblock %}  

{% block styles%}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock styles%}
{% block content %}
<div class="container form"> 
  <h2 class="text-center" style="font-weight:bolder; text-decoration:underline;"> Add a pitch</h2>
  
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
      <!--Flash message -->
      <!-- {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %} -->
      <!-- Login form -->
      
      {{wtf.quick_form(form)}}

      {% for pitch in pitches %}
					<div class="list-group">
						<a href="#">
							<div class="list-item">
								<p>{{pitch.id}}</p>
							</div>
							<h4>{{ pitch.description }}</h4>
							<h6> Posted by {{user.username}}.</h6>
						</a>
					</div>
				{% endfor %}
     </div>
     <div class="col-md-2"> </div>
    </div>
</div>
{% endblock %}