{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css">

    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container text-center">
        <img src="{{ url_for('static', filename='images/bulb.jpg') }}" alt="">
        <div class="text-content">
            <h1><span style="color:rgb(202, 77, 31);">When pitching your design idea</span> you should always talk about <span style="color:rgb(202, 77, 31);">the why</span> behind the solution.</h1>
            <br>
            
            <button type="button" style="width: 110px; height:40px; font-size:20px; color: rgba(240, 239, 239, 0.699); background-color: rgb(202, 77, 31); margin-right: 20px;" ><a href="{{url_for('auth.register')}}" style="color: thistle;">Sign up</a></button>
            <button type="button" style="width: 110px; height:40px; font-size:20px; color: rgba(221, 215, 215, 0.849); background-color: rgb(202, 77, 31);"  ><a href="{{url_for('auth.login')}}" style="color: thistle;"> Sign in</a></button>
            
        </div>

        
    </div>
   

    {% endblock %}
    
</body>
</html>


