{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}" type="text/css">

    {% endblock %}
</head>
<body>
            <!-- Navbar block  --> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  

        {% block content %}
        <div class="container text-center">
            <img src="{{ url_for('static', filename='images/bulb.jpg') }}" alt="">
            <div class="text-content">
                <h1><span style="color:rgb(202, 77, 31);">When you find an idea that you </span>just can't stop thinking about, that's probably <span style="color:rgb(202, 77, 31);">a good one</span> to pursue <span> - Pitching.</span></h1>
                
                <h2 style="color: rgb(202,77,31);">Josh James</h2>
                
               
            </div>
            
        </div>
   

    {% endblock %}
</body>
</html>