

<div class="navbar" role="navigation" style="background-color:rgb(245, 241, 240) ; border-radius: 0; align-items: center;
margin: 0 !important; min-height: 10vh;">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

                
            </div>
            <a class="navbar-brand"  href="/" style="font-size:25px; color:rgb(31, 30, 30); font-weight: bold; font-family: Arial, Helvetica, sans-serif; "><span style="color:rgb(184, 76, 37) ;">Pitch</span>Deck</a>
            <div class="navbar-right">
                
            </div>
            <div class="navbar-collapse collapse" style="float: left;">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('main.loggedin')}}" style=" color:black;text-decoration: none; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Home</a></li>
                    <li><a href="{{url_for('main.categories')}}"style=" color:black;text-decoration: none; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">View Pitches</a></li>
                    <li><a href="{{url_for('main.addapitch',pitchname=current_user.username)}}" style="color: black; color: black;text-decoration: none; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Add a Pitch</a></li>
                    <li ><a href="{{url_for('main.profile',uname=current_user.username)}}" style=" color: black;text-decoration: none; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;"> {{current_user.username}} Profile</a></li>
                    <li><a href="{{url_for('auth.logout')}}" style=" color: black;text-decoration: none; font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>